.speedometer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.speed_progress {
  display: flex;
  align-items: center;
  width: 50vw;
  height: 10px;
  background-color: #383533;
  position: relative;
  border-radius: 8px;
  /* overflow: hidden; */
}

.progress_indicator {
  position: relative;
  max-width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: width 0.5s ease;
}

.pi_green {
  box-shadow: 0px 0px 9px 1px rgba(0, 196, 0, 0.6);
  background-color: green;
}

.pi_yellow {
  box-shadow: 0px 0px 9px 1px rgba(255, 255, 0, 0.6);
  background-color: yellow;
}

.pi_orange {
  box-shadow: 0px 0px 9px 1px rgba(255, 166, 0, 0.6);
  background-color: orange;
}

.pi_red {
  box-shadow: 0px 0px 9px 1px rgba(255, 0, 0, 0.6);
  background-color: red;
}

.speed_txt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 2vw;
  margin-top: 20px;
  transition: all 0.5s ease;
}

.speed_txt > span:first-child {
  font-weight: 700;
  font-size: 2.5vw;
}