@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0055ff;
  --main-bg: #1a1a1a;
  --main-fg: #bbbbbb;

  --speed-border-default: #bbbbbb;
  --typer-border: #bbbbbb;
  --typer-fg: #1a1a1a;
}

html, body, #__next {
  height: 100%;
}

body {
  background-color: var(--main-bg);
  color: var(--main-fg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
